{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
{{!-- <nav class="main-nav">
    {{> "menu-activator-icon"}}
</nav> --}}

{{!-- <header class="main-header js-blog-bg-image {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <div class="main-header-content">
    </div>
</header> --}}

{{! The main content area on the homepage }}
<div class="OUTBRAIN OUTBRAIN-POST" data-widget-id="TF_6" data-src="" data-ob-template="Buzznation" ></div><!-- below content unit, place below content -->
<main id="content" class="content home-template" role="main">
    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}
</main>
<div class="OUTBRAIN OUTBRAIN-SIDEBAR" data-widget-id="TS_1" data-src="" data-ob-template="Buzznation" ></div>
