{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The main content area on the homepage }}
<main id="content" class="content tag-template" role="main">
    {{> "tag-header" name=tag.name tagUrl=(concat '/tag/' tag.name '') iconPath=(concat 'images/icons/icon-' tag.name '.svg')}}
    {{#get "posts" include="tags,author" filter="tags:{{tag.name}}+featured:true"}}
      <div class="tag-row">
        {{#foreach posts}}
          {{> "post-preview"}}
        {{/foreach}}
      </div>
    {{/get}}
</main>
