<footer class="site-footer">

  <a class="blog-logo" href="{{@blog.url}}">
    <img src="{{@blog.logo}}" alt="Blog Logo" />
  </a>

  {{> "social-media-btns"}}

  <div class="footer-meta">
    &copy; BuzzNation Inc.
    <a class="footer-policy"
       href="/privacy-policy">Privacy Policy</a>
  </div>

</footer>
