{{! This is the post loop - each post will be output using this markup }}
<div class="OUTBRAIN" data-widget-id="TS_1" data-src="" data-ob-template="Buzznation" ></div>
{{#get "posts" limit="18" include="tags,author" filter="featured:true"}}
  {{#foreach posts}}
    {{> "post-preview"}}
  {{/foreach}}
{{/get}}
<!-- below content unit, place below content -->
<div class="OUTBRAIN" data-widget-id="TF_6" data-src="" data-ob-template="Buzznation" ></div>

{{!--
{{#get "posts" limit="3" include="tags,author" filter="featured:true"}}
  {{> "tag-header" name="featured" url="/" iconPath="images/icons/icon-featured.svg"}}
  <div class="tag-row">
    {{#foreach posts}}
      {{> "post-preview" tag="featured"}}
    {{/foreach}}
  </div>
{{/get}}

{{#get "posts" limit="5" include="tags,author" filter="tags:politics+featured:false"}}
  {{> "tag-header" name="politics" tagUrl="/tag/politics" iconPath="images/icons/icon-politics.svg"}}
  <div class="tag-row">
    {{#foreach posts}}
      {{> "post-preview" tag="politics"}}
    {{/foreach}}
  </div>
{{/get}}

{{#get "posts" limit="5" include="tags,author" filter="tags:nba+featured:false"}}
  {{> "tag-header" name="nba" tagUrl="/tag/nba" iconPath="images/icons/icon-nba.svg"}}
  <div class="tag-row">
    {{#foreach posts}}
      {{> "post-preview" tag="nba"}}
    {{/foreach}}
  </div>
{{/get}}

  {{> "tag-header" name="startups" tagUrl="/tag/startups" iconPath="images/icons/icon-startups.svg"}}
  <div class="tag-row">
    {{#foreach posts}}
      {{> "post-preview" tag="startups"}}
    {{/foreach}}
  </div>
{{/get}}


{{! Previous/next page links - displayed on every page - this is a custom pagination partial}}
{{pagination}} --}}
