<section class="social-media-btns">
  <a href="https://twitter.com/buzznationco"
     target="_blank"
     class="btn-social-media">
    <img src="{{asset "images/icons/icon-twitter.svg" }}"
         alt="BuzzNation Twitter" />
  </a>
  <a href="https://www.facebook.com/BuzzNation-290736771329241"
     target="_blank"
     class="btn-social-media">
    <img src="{{asset "images/icons/icon-facebook.svg" }}"
         alt="BuzzNation Facebook" />
  </a>
  {{!--
  <a href="https://instagram.com/impressivco"
     target="_blank"
     class="btn-social-media">
    <img src="{{asset "images/icons/icon-instagram.svg" }}"
         alt="BuzzNation Instagram" />
  </a>
  --}}
</section>
